{% extends 'base.html' %}
{% load static %}


{% block title %}
Honey Badger
{% endblock %}


{% block main %}

<div class='main-Top'>
	<div class='main-Top-FirstLine'>
		<h1 class='main-Top-FirstLine-Text'>Honey Badger</h1>
	</div>
	<div class='main-Top-SecondLine'>
		<p class='main-Top-SecondLine-Text'><a href='#main'>↓</a></p>
	</div>
</div>

<div class='main-Main'>
	<p><a name="main"></a></p> 
	<h2 class='main-Main-h2'>
		Медовый барсук AAC - AAC Honey Badger
	</h2>
	<p class='main-Main-p'>

		AAC Honey Badger PDW является оружием личной защиты на основе AR-15 . Он изготовлен под патрон .300 AAC Blackout и производится Advanced Armament Corporation (AAC), дочерней компанией Remington Outdoor Company . Оружие названо в честь медоеда . 

	</p>
	<h3 class='main-Main-h3'>
		
		На данном форуме представленна информация только о страйкбольной версии данного оружия!

	</h3>
	<div class='main-Main-BlocksLine'>

		<div class='main-Main-BlocksLine-item'>
			<p class='main-Main-BlocksLine-item-text'>
				Вход
			</p>
		</div>
		<div class='main-Main-BlocksLine-item'>
			<p class='main-Main-BlocksLine-item-text'>
				Регистрация
			</p>
		</div>
		<div class='main-Main-BlocksLine-item'>
			<p class='main-Main-BlocksLine-item-text'>
				Форум
			</p>
		</div>
		
	</div>
</div>



{% endblock %}